[submodule "3rdparty/endian"]
	path = 3rdparty/endian
	url = git://github.com/berkus/endian.git
[submodule "ssu"]
	path = ssu
	url = https://berkus@github.com/berkus/libssu.git
[submodule "cmake"]
	path = cmake
	url = https://berkus@github.com/berkus/cmake-setup.git
[submodule "travis-ci"]
	path = travis-ci
	url = https://berkus@github.com/berkus/travis-scripts.git
[submodule "routing"]
	path = routing
	url = https://berkus@github.com/berkus/librouting.git
[submodule "krypto"]
	path = krypto
	url = https://berkus@github.com/berkus/libkrypto.git
[submodule "nat"]
	path = nat
	url = https://berkus@github.com/berkus/libnat.git
[submodule "ssu-qt4"]
	path = ssu-qt4
	url = https://berkus@github.com/berkus/libssu-qt4.git
[submodule "filesyncbox/3rdparty/dir_monitor"]
	path = filesyncbox/3rdparty/dir_monitor
	url = https://berkus@github.com/berkus/dir_monitor.git
[submodule "arsenal"]
	path = arsenal
	url = https://berkus@github.com/berkus/libarsenal.git
