[submodule "3rdparty/endian"]
	path = 3rdparty/endian
	url = git://github.com/berkus/endian.git
[submodule "ssu"]
	path = ssu
	url = https://berkus@github.com/berkus/libssu.git
[submodule "cmake"]
	path = cmake
	url = https://berkus@github.com/berkus/cmake-setup.git
[submodule "support"]
	path = support
	url = https://berkus@github.com/berkus/libsupport.git
[submodule "3rdparty/plist"]
	path = 3rdparty/plist
	url = https://berkus@github.com/berkus/PlistCpp.git
[submodule "travis-ci"]
	path = travis-ci
	url = https://berkus@github.com/berkus/travis-scripts.git
[submodule "routing"]
	path = routing
	url = https://berkus@github.com/berkus/librouting.git
